<div class="post-new">

	<h2>新規投稿画面</h2>
		<%= form_for @post do |f| %>

		<%= render 'layouts/error', model: f.object %>

		<div>
			<p>
				<%= f.label :title, "タイトル" %><br>
				<%= f.text_field :title, class: "form-control", placeholder: "タイトルをここに" %>
			</p>
		</div>
		<div>
			<p>
				<%= f.label :content, "内容" %><br>
				<%= f.text_area :content, rows:'8', class: "form-control", placeholder: "本文をここに" %>
			</p>
		</div>
		<div>
			<P>
				<%= f.label :category, "カテゴリー（複数選択可）" %><br>
				<%= f.collection_check_boxes(:category_ids, Category.all, :id, :genre) do |category| %>
					<%= category.label do %>
						<%= category.check_box %>
						<%= category.text %>
					<% end %>
				<% end %>
			</P>
		</div>
		<div>
			<%= f.submit "投稿する", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>
