<!DOCTYPE html>
<html>
  <head>
    <title>Samplesite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class="clearfix">
      <header>
      

        <div class="header">
          <h1 class="headline">サンプルサイト</h1>
          <nav>
            <ul class="nav-list">
              <% if user_signed_in? %>
                <li class="nav-list-item">
                  <%= link_to 'トップページへ戻る', root_path %>
                </li>
                <li class="nav-list-item">
                  <%= link_to '投稿一覧', posts_path %>
                </li>
                <li class="nav-list-item">
                  <%= link_to '投稿フォーム', new_post_path %>
                </li>

                <li class="nav-list-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li class="nav-list-item">
                  <%= link_to "新規登録", new_user_registration_path %>
                </li>
                <li class="nav-list-item">
                  <%= link_to "ログイン", new_user_session_path %>
                </li>
                <li class="nav-list-item">
                  <%= link_to 'トップページへ戻る', root_path %>
                </li>
                <li class="nav-list-item">
                  <%= link_to '投稿一覧', posts_path %>
                </li>
              <% end %>

              <!-- 検索機能 -->
              <li class="nav-list-item">
                <%= form_tag(search_path,:method => 'get') do %>
                  <%= text_field_tag :search %>
                  <%= submit_tag 'Search', :name => nil %>
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="container">

        <%= yield %>

      </div>

    </div>

    <span id="back">
      <a href="#">
        <i class="far fa-arrow-alt-circle-up fa-3x"></i>
      </a>
    </span>

    <footer style="margin: 100px;"></footer>

  </body>

</html>
